[Unit]
Description=Course Project Backup Daemon
After=network.target

[Service]
Type=simple
User=user
Group=user
ExecStart=/usr/bin/kp-backup
Restart=on-failure

[Install]
WantedBy=multi-user.target
